<ion-view view-title="关于我们" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="container">
		<div style="margin-top: 100px;text-align: center;color: #000;">
			<img class="regist" src="../theme/img/register.png"></img>
			<h3>河北省献县”互联网+不动产登记”信息平台</h3>
			<!--<p>www.gszwfw.gov.cn</p><br />-->
			<p>地址：河北省沧州市献县献王路政务服务中心一楼</p>
			<p>官方网站：http://www.xxbdcdj.cn/iebdc/iebdc/index.html</p><br />
			<!--<p>政务服务：zwfuwu@gs.gov.cn</p><br />-->
			<!--<p>服务热线{{phone}}</p>-->
		</div>
	</ion-content>
</ion-view>
