<ion-view view-title="登记结果" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="yyjg-content">
		<img src='../theme/img/success.png' class="yyjg-img">
		<div style="font-size: 18px;color: #000;font-weight: bold;">申请成功</div>
		<div style="margin-top: 32px;background-color: #F2F2F2;height: 1px;width: 100%;"></div>

		<div style="padding-top: 5px;padding-bottom: 5px;min-height: 40px;width: 100%;display: flex;align-items: center;position: relative;border-bottom: solid #F2F2F2 1px;">
			<p style="color: #666666;font-size: 16px;margin-left: 20px;flex: 0 0 auto;">申请编号：</p>
			<p style="color: #333333;font-size: 16px;margin-left: 30px;flex: 1 1 auto;color: rgb(70,176,112);text-align: start;">{{djjg.wwywh}}</p>
		</div>
		<!--<div style="padding-top: 5px;padding-bottom: 5px;min-height: 40px;width: 100%;display: flex;align-items: center;position: relative;border-bottom: solid #F2F2F2 1px;">
			<p style="color: #666666;font-size: 16px;margin-left: 20px;flex: 0 0 auto;">预约序号：</p>
			<p style="color: #333333;font-size: 16px;margin-left: 30px;flex: 1 1 auto;color: rgb(102,102,102);text-align: start;">第{{yyjg.successNum}}号</p>
		</div>-->
		<div style="padding-top: 5px;padding-bottom: 5px;min-height: 40px;width: 100%;display: flex;align-items: center;position: relative;border-bottom: solid #F2F2F2 1px;">
			<p style="color: #666666;font-size: 16px;margin-left: 20px;flex: 0 0 auto;">申请事项：</p>
			<p style="color: #333333;font-size: 16px;margin-left: 30px;flex: 1 1 auto;color: rgb(102,102,102);text-align: start;">{{djjg.subFlowname}}</p>
		</div>
		<div style="padding-top: 5px;padding-bottom: 5px;min-height: 40px;width: 100%;display: flex;align-items: center;position: relative;border-bottom: solid #F2F2F2 1px;">
			<p style="color: #666666;font-size: 16px;margin-left: 20px;flex: 0 0 auto;">联系人员：</p>
			<p style="color: #333333;font-size: 16px;margin-left: 30px;flex: 1 1 auto;color: rgb(102,102,102);text-align: start;">{{djjg.lxrmc}}</p>
		</div>

		<div style="padding-top: 5px;padding-bottom: 5px;min-height: 40px;width: 100%;display: flex;align-items: center;position: relative;border-bottom: solid #F2F2F2 1px;">
			<p style="color: #666666;font-size: 16px;margin-left: 20px;flex: 0 0 auto;">联系电话：</p>
			<p style="color: #333333;font-size: 16px;margin-left: 30px;flex: 1 1 auto;color: rgb(102,102,102);text-align: start;">{{djjg.lxdh}}</p>
		</div>
		<div style="padding-top: 5px;padding-bottom: 5px;min-height: 40px;width: 100%;display: flex;align-items: center;position: relative;border-bottom: solid #F2F2F2 1px;">
			<p style="color: #666666;font-size: 16px;margin-left: 20px;flex: 0 0 auto;">办理时限：</p>
			<p style="color: #333333;font-size: 16px;margin-left: 30px;flex: 1 1 auto;color: rgb(102,102,102);text-align: start;">请在{{blsx}}个工作日内到{{djjg.bsdtmc}}办理</p>
		</div>
		<div style="padding-top: 5px;padding-bottom: 5px;min-height: 40px;width: 100%;display: flex;align-items: center;position: relative;border-bottom: solid #F2F2F2 1px;">
			<p style="color: #666666;font-size: 16px;margin-left: 20px;flex: 0 0 auto;">预审提示：</p>
			<p style="color: #333333;font-size: 16px;margin-left: 30px;flex: 1 1 auto;color: rgb(102,102,102);text-align: start;">您的业务预计在{{yssx}}天进行资料预审核，请关注后续消息提醒</p>
		</div>

		<div ng-if="yysx.sx != '请选择预约事项'" style="width: 80%;margin: 15px auto; font-size: 14px; text-align: left;">
			<span style="color: #000000;">温馨提示：为避免材料不全导致不能办理的麻烦，请您务必携带</span>
			<span style="color: #FF0000;">身份证件及所需收件材料   </span>
			<span style="color: #000000;">。</span>
			<span style="color: #0E8EE7;" ng-click="showDocs()">   (点击查看所需材料)</span>
		</div>
		<div ng-show="isShowDocs" style="width: 80%;margin: 5px auto;font-size: 14px;color: #000000;">
			<div ng-repeat="item in uploadFile" style="width: 100%;max-height:60px ;display: flex;align-items: center;margin: 5px 0;border: none;border-bottom: solid 1px #C0C0C0;">
				<p style="width: 70%;text-align: left;">{{item.clmc}}</p>
				<p style="width: 20%;margin-left: 10px;text-align: right;">{{item.bz}}</p>
			</div>
		</div>
		<div ng-if="yysx.sx != '请选择预约事项'" style="width: 80%;margin: 15px auto; font-size: 14px; text-align: left;">
			<span style="color: #FF0000;">涉税业务还需携带储蓄卡</span>
			<span style="color: #000000;">，并确保余额大于应缴税金额，避免多跑一次。</span>
		</div>

		<!--<img src='../theme/img/success.png' class="yyjg-img">
		<div class="yyjg-title">恭喜你，申请成功</div>
		<div class="yyjg-item">申请业务号：{{djjg.wwywh}}</div>
		<div class="yyjg-item">申请事项：{{djjg.subFlowname}}</div>
		<div class="yyjg-item">联系人：{{djjg.lxrmc}}</div>
		<div class="yyjg-item">联系电话：{{djjg.lxdh}}</div>
		<div class="yyjg-item">温馨提示：您的业务预计在{{yssx}}天进行资料预审核，请关注后续消息提醒。</div>-->
		<div class="row yyjg">
			<div class="col">
				<button class="button button-full button-small button-positive" ng-click="BackToHome()">返回首页</button>
			</div>
			<div class="col">
				<button class="button button-full button-small button-positive" ng-click="GoToMine()">查看结果</button>
			</div>
		</div>
	</ion-content>
</ion-view>