<ion-view view-title="房产买卖" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content style="background-color: rgb(245,245,245);">

		<img src="../theme/img_menu/wygh-bg.png" style="width: 100%;">

		<div ng-repeat="item in data" style="display: flex; margin: 18px; border-radius: 5px; overflow: hidden; box-shadow: 0 0 12px rgba(34,18,0,0.3);">
			<div style="display: flex; text-align: center; width: 24px; font-size: 20px; word-wrap: break-word;height: 140px;color: #fff;background-color: rgb(79,188,237);">
				<p style="writing-mode: vertical-lr;line-height: 24px;">{{item.name}}</p>
			</div>
			<div ng-show='item.name1' style="display: flex; text-align: center; width: 24px; font-size: 20px; word-wrap: break-word;height: 140px;color: #fff;background-color: rgb(79,188,237);">
				<p style="writing-mode: vertical-lr;line-height: 24px;">{{item.name1}}</p>
			</div>
			<div style="flex: 1; height: 140px;background-color: #fff;color: #000;">
				<div class='menu-nav' ng-repeat="item0 in item.children" ng-click="gotoyw(item0);">
					<a>
						<img ng-src='{{imgData[$index].src}}' class='menu-nav-icon'>
						<div>
							<p>{{item0.name}}</p>
						</div>
					</a>
				</div>
			</div>
		</div>

	</ion-content>

</ion-view>