<div style="line-height: 20px; height: 80px;background: #CCCCCC;">
	<!--左侧布局-->
	<div style="width: 25%;float: left;text-align: center;">
		<img src='../theme/img/btn_panorama.png'/>
		<p style="text-align: center;">大厅</p>
	</div>
	<!--中间布局-->
	<div style="width: 50%;float: left;">
		<p style="font-size: 15px;margin-top: 7px;">不动产登记中心</p>
		<p >呼和浩特市市通渭路1号房地产大厦</p>
	</div>
	<!--右侧布局-->
	<div style="width: 25%;float: left;height: 80px;text-align: center;">
		<button style="margin-top: 20px;">导航</button>
	</div>
</div>