<ion-view view-title="修改密码" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="container">
		<form ng-submit="" class="form">
			<div class="applicant">
				<div class="item item-input form-item-border-first">
					<span style="width: 30%;">手机号</span>
	    			<input type="text" style="width: 70%;background-color: white;"  readonly="readonly" ng-model="userModifyPassword.keyWord"/>
				</div>
				<div class="item item-input form-item-border">
					<span style="width: 30%;">用户名</span>
					<input type="text" style="width: 70%;background-color: white;"  readonly="readonly" ng-model="userModifyPassword.loginName"/>
				</div>
				<div class="item item-input form-item-border">
					<span style="width: 30%;">原登录密码</span>
					<input type="password" placeholder="请输入6-20位字母,数字组成的密码" ng-model="inputText.oriPassword"/>
				</div>
				<div class="item item-input form-item-border">
					<span style="width: 30%;">设置新密码</span>
	    			<input type="password" placeholder="请输入6-20位字母,数字组成的密码" ng-model="inputText.inputPassword"/>
				</div>
				<div class="item item-input form-item-border">
					<span style="width: 30%;">确认新密码</span>
	    			<input type="password" placeholder="请输入6-20位字母,数字组成的密码" ng-model="inputText.inputPasswordAgain"/>
				</div>
				<!-- <div class="item item-input form-item-border">
	    			<span style="width: 50%;">验证码</span>
	    			<input  type="text" placeholder="请输入验证码" ng-model="userModifyPassword.authCode"/>
	    			<button class="button button-small" style="width: 40%;" ng-click="getCode(userModifyPassword.tel);">
	      				{{code}}
	    			</button>
	  			</div> -->
			</div>
			<button class="button button-block button-positive" ng-click="passwordModify();">提交</button>
		</form>
	</ion-content>
</ion-view>