<ion-view view-title="更改手机号" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="container">
		<div class="applicant">
			<div class="">
				<p class="tel-modify-note">当前手机号:{{userModifyTel.oriPhone}}</p>
			</div>
			<div class="item item-input form-item-border-first">
				<span style="width: 30%;">国家/地区</span>
				<span type="text" style="width: 70%;text-align: center;">中国</span>
				<input type="text" style="width: 0%;">
			</div>
			<div class="item item-input form-item-border">
				<span style="width: 30%;">+86</span>
				<input ng-model="userModifyTel.newPhone" type="text" style="width: 70%;" placeholder="请填写手机号码">
			</div>
			<div class="item item-input form-item-border">
				<span style="width: 50%;">验证码</span>
				<input type="text" placeholder="请输入验证码" ng-model="userModifyTel.authCode" />
				<button class="button button-small" style="width: 40%;" ng-click="getCode(userModifyTel.newPhone);">
      				{{code}}
    			</button>
			</div>
		</div>
		<button class="button button-block button-positive" ng-click="submit();">提交</button>
	</ion-content>
</ion-view>