<ion-view view-title="{{title}}" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="container">
		<div style="position: sticky;top: 0;width: 100%;height: 1px;background-color: #F2F2F2;;"></div>
		<div style="width: 100%;background-color: white;">
			<!--本地固定写死的菜单-->
			<div ng-repeat="data in listData" ng-click="gotoPage(data)" style="width:100%;height: 80px;display: flex;align-items: center;border-bottom: 1px solid #F2F2F2;padding-left: 20px;">
				<img width="30px" height="30px" ng-src={{data.src}} />
				<div style="margin-left: 20px;">
					<p style="color: #222222;font-size: 14px;">{{data.name}}</p>
					<p style="color: #999999;font-size: 10px;">{{data.des}}</p>
				</div>
			</div>
			<!--从后台获取的申请流程菜单-->
			<div ng-show="showSqMenu" ng-repeat="data in level1MenuArray" ng-click="gotoLevel1Menu($index)" style="width:100%;height: 80px;display: flex;align-items: center;border-bottom: 1px solid #F2F2F2;padding-left: 20px;">
				<img ng-show="data.name != '我要查询'" width="30px" height="30px" ng-src={{data.src}} />
				<div ng-show="data.name != '我要查询'" style="margin-left: 20px;">
					<p style="color: #222222;font-size: 14px;">{{data.name}}</p>
					<p style="color: #999999;font-size: 10px;">{{data.des}}</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>