<nav >
	 <div class="row">
		
		
		  <!--<button ng-click="rotate()"><span>90</span></button>-->
		  <input class="col" style="height: auto;" type="text" min=1 ng-model="pageNum">
		  <button class="col col-15" style="background-color: white; border: none;">/&nbsp;{{pageCount}}</button>	
		  
		  <button class="col" ng-click="zoomIn()"><span>+</span></button>
		  <button class="col"  ng-click="fit()"><span>100%</span></button>
		  <button class="col"  ng-click="zoomOut()"><span>-</span></button>		
		  
		  <button class="col"   ng-click="goPrevious()"><span>&lt;</span></button>
		  <button class="col"   ng-click="goNext()"><span>&gt;</span></button>
  </div>
  <!--<input type="text" ng-model="pdfLocalUrl">-->
  <!--{{arquivo}}-->
  <!--<ion-item>-->
	<!--<div class="video-container">
	  <iframe ng-src="{{arquivo}}">    
	</div>-->
        
</nav>
