<ion-view view-title="权属证明查验" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="container">
		<div class="box">
			<img src="../theme/img/u356.png">
		</div>
		<ion-item class = "qs-list">
			<a class="item-icon-right list-center" href="#/qszm/zxcx/sqxz">
				<img src="../theme/img/register1.png">
				<span>在线查询</span>
				<i class="icon ion-ios-arrow-right glyphicon" ></i>
			</a>
		</ion-item>
		<ion-item class = "qs-list">
			<a class="item-icon-right list-center" href="#/qszm/zwcx">
				<img src="../theme/img/my-apply.png">
				<span>真伪查询</span>
				<i class="icon ion-ios-arrow-right glyphicon"></i>
			</a>
		</ion-item>
		<ion-item class = "qs-list">
			<a class="item-icon-right list-center" href="#/qszm/cxzn">
				<img src="../theme/img/search_guide.png">
				<span>查询指南</span>
				<i class="icon ion-ios-arrow-right glyphicon"></i>
			</a>
		</ion-item>
	</ion-content>
</ion-view>
