<ion-view view-title={{title}} class="nav-title">
	<ion-content class="container">
			<div class="applicant"  ng-show = 'title1.show'>
				<div style="margin-left: 5px;">
					<span class="add-msg">{{title1.title}}</span>
				</div>
				<div style="width: 100%;min-height: 40px;padding-top: 5px;padding-bottom: 5px;display: flex;align-items: center;" ng-repeat="(key,value) in result">
					<p style="width: 30%;color: #999999;font-size: 14px;padding-left: 10px;">{{key}}</p>
					<p style="width: 70%;color: #333333;font-size: 14px;padding-left: 20px;white-space: pre-line;">{{value}}</p>
				</div>
			</div>

			<div class="applicant" ng-repeat="item in resultBdcxx" ng-show = 'title2.show'>
				<div style="margin-left: 5px;">
					<span class="add-msg">{{title2.title}}</span>
				</div>
				<div style="width: 100%;min-height: 40px;padding-top: 5px;padding-bottom: 5px;display: flex;align-items: center;" ng-repeat = "(key,value) in item">
					<p style="width: 30%;color: #999999;font-size: 14px;padding-left: 10px;">{{key}}</p>
					<p style="width: 70%;color: #333333;font-size: 14px;padding-left: 20px;white-space: pre-line;">{{value}}</p>
				</div>
			</div>			
	</ion-content>
</ion-view>