<ion-view view-title={{title}} class="nav-title">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="goback()">
        <i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div style="display: flex;flex-direction: column;position: relative;top: 7%;width: 100%;height: 93%;">
    <div style="width: 100%;height: 90%;">

      <video ng-show="!isRecordFinished" id="video" class="video-record" playsinline autoplay muted ></video>
      <img ng-show="!isRecordFinished" style="display: block; width: 110%;height: 90%;position: absolute;top: 0;left: -5%;"
        src="../theme/img_verify/video_rcord.png" />
      <p ng-show="!isRecordFinished" style="width: 80%; position: absolute;top: 5%;left: 10%; font-size: 14px;text-align: center;">
        录像时请用普通话阅读以下文字</p>
      <p ng-show="!isRecordFinished" style="width: 80%; position: absolute;top: 10%;left: 10%; font-size: 16px;color: white;">
        本次申请事项是本人真实意愿表示，所提交的材料真实、合法。</p>

      <p ng-show="!isRecordFinished&&!isRecording" style="width: 80%; position: absolute;bottom: 15%;left: 10%; font-size: 14px;text-align: center;color: red;">
        请先录像再上传视频</p>
      <p ng-show="isRecording" style="width: 80%; position: absolute;bottom: 15%;left: 10%; font-size: 14px;text-align: center;">
        请保持人脸始终在人形框中</p>
      <p ng-show="isRecordFinished" style="width: 80%; position: absolute;bottom: 15%;left: 10%; font-size: 14px;text-align: center;color: green;">
        录制完成，请上传视频</p>
      <video id="showVideo" class="video-show" ng-show="isRecordFinished" controls="controls" autoplay="autoplay"  playsinline loop></video>

    </div>
    <div style="display: flex;flex-direction: row;width: 100%;height: 10%;align-items: center;position: absolute;bottom: 0;">
      <p ng-class="{'record-video-button':!isRecording,'record-video-button-disable':isRecording}" id="start">
        {{buttonText}}
      </p>
      <p ng-class="{'record-video-button':isRecordFinished,'record-video-button-disable':!isRecordFinished}" ng-click="uploadToServer()">
        上传
      </p>

    </div>
  </div>
</ion-view>
