<ion-view view-title="用户注册协议" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left" >
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="container">
		<div class="applicant">
			<div class="item item-text-wrap" style="border: none;">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;欢迎您在“不动产登记服务平台”注册： <br /> <br /> 
					1. 服务内容<br />
					1.1服务的具体内容由不动产登记服务平台根据实际情况提供。不动产登记服务平台保留随时变更、中断或终止部分或全部网络服务的权利。目前为注册用户提供以下服务：<br />
					（一）在线申请：您可网上进行不动产登记业务申请，用户根据实际申请业务填写相关申请信息，并同步上传附件材料。<br />
					（二）在线预约：您可在线预约取号，预约成功后，在预约的时间点到登记大厅进行业务办理。<br />
					（三）用户中心：提供与个人相关的个性化服务，包括网上办件的状态查看等功能。<br />
					
					2. 使用规则<br /> 
					2.1 用户在不动产登记服务平台注册时，需提供准确的个人资料，如个人资料有任何变动，请及时更新。<br />
					2.2 用户注册成功后，不动产登记服务平台将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。<br />
					2.3 用户在不动产登记服务平台注册后，必须遵循以下原则：<br />
					(a) 遵守中国有关的法律和法规；<br />
					(b) 不得为任何非法目的而使用网络服务系统；<br />
					(c) 遵守所有与网络服务有关的网络协议、规定和程序；<br />
					(d) 不得利用不动产登记服务平台进行任何可能对互联网的正常运转造成不利影响的行为；<br />
					(e) 不得利用不动产登记服务平台传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；<br />
					(f) 不得利用不动产登记服务平台进行任何不利于不动产登记服务平台的行为；<br />
					(g) 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告不动产登记服务平台。<br />
					
					3. 内容所有权<br />
					3.1 不动产登记服务平台提供的网络服务内容可能包括：文字、软件、声音、图片、录象、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。<br />
					3.2 用户只有在获得不动产登记服务平台或其他相关权利人的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。<br />
					
					4. 隐私保护<br />
					4.1 保护用户隐私是不动产登记服务平台的一项基本政策，不动产登记服务平台保证不对外公开或向第三方提供用户注册资料及用户在使用网络服务时存储在不动产登记服务平台的非公开内容，但下列情况除外：<br />
					(a) 事先获得用户的明确授权；<br />
					(b) 根据有关的法律法规要求；<br />
					(c) 按照相关政府主管部门的要求；<br />
					(d) 为维护社会公众的利益；<br />
					(e) 为维护不动产登记服务平台的合法权益。<br />
					
					5. 免责声明<br />
					5.1 用户明确同意其使用不动产登记服务平台网络服务所存在的风险将完全由其自己承担；因其使用不动产登记服务平台网络服务而产生的一切后果也由其自己承担，不动产登记服务平台对用户不承担任何责任。<br />
					5.2 不动产登记服务平台不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。<br />
				</p>
			</div>
			 
		</div>
	</ion-content>
</ion-view>