<ion-view view-title="预约结果" class="nav-title">
	<ion-nav-bar>
	</ion-nav-bar>
	<ion-content class="yyjg-content">
		<img src='../theme/img/success.png' class="yyjg-img">
		<div class="yyjg-title">预约完成</div>
		<div class="row yyjg">
			<div class="col">
				<button class="button button-full button-small button-positive" ng-click="BackToHome()">返回首页</button>
			</div>
			<div class="col">
				<button class="button button-full button-small button-positive" ng-click="GoToMine()">查看结果</button>
			</div>
		</div>
	</ion-content>
</ion-view>