<ion-view view-title="不动产证书(证明)验证" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
			<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
		</button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="container" style="color: black;">
		<div style="margin: 20px 10px;background-color: white;border-radius: 5px;padding: 0 10px 5px;">
			<div class="item-container" ng-click="checkBdcqzhMb()">
				<span style="color: red;">*&nbsp;</span>
				<span style="font-size: 14px;width: 35%;">证书(证明)证号</span>
				<p style="color: #ABABAB;font-size: 14px;">请选择产权证书类别</p>
				<img width="8px" height="14px" src="../theme/img/zk3.png" style="position: absolute;right: 20px;" />
			</div>

			<div ng-if="bdcqzhMbData[0].isSelected" style="width: 100%;height: 48px;display: flex;align-items: center;border-bottom: solid 1px lightgray;background-color: white;">
				<span style="color: red;font-size: 14px;text-align: center;">*&nbsp;</span>
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[0].keyWords[0]}}</span>
				<input type="text" ng-model="bdcqzhMbData[0].inputs[0]" style="height: 25px;width: 13%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[0].keyWords[1]}}</span>
				<input type="text" ng-model="bdcqzhMbData[0].inputs[1]" style="height: 25px;width: 18%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[0].keyWords[2]}}</span>
				<input type="text" ng-model="bdcqzhMbData[0].inputs[2]" style="height: 25px;width: 18%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[0].keyWords[3]}}</span>
				<i class="icon ion-ios-information" style="font-size: 22px;margin-left: 6px;" ng-click="clickTips(0);"></i>
			</div>

			<div ng-if="bdcqzhMbData[1].isSelected" style="width: 100%;height: 48px;display: flex;align-items: center;border-bottom: solid 1px lightgray;background-color: white;">
				<span style="color: red;font-size: 14px;text-align: center;">*&nbsp;</span>
				<input type="text" ng-model="bdcqzhMbData[1].inputs[0]" style="height: 25px;width: 16%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[1].keyWords[0]}}</span>
				<input type="text" ng-model="bdcqzhMbData[1].inputs[1]" style="height: 25px;width: 22%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[1].keyWords[1]}}</span>
				<input type="text" ng-model="bdcqzhMbData[1].inputs[2]" style="height: 25px;width: 22%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[1].keyWords[2]}}</span>
				<i class="icon ion-ios-information" style="font-size: 22px;margin-left: 6px;" ng-click="clickTips(1);"></i>
			</div>

			<div ng-if="bdcqzhMbData[2].isSelected" style="width: 100%;height: 48px;display: flex;align-items: center;border-bottom: solid 1px lightgray;background-color: white;">
				<span style="color: red;font-size: 14px;text-align: center;">*&nbsp;</span>
				<input type="text" ng-model="bdcqzhMbData[2].inputs[0]" style="height: 25px;width: 15%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[2].keyWords[0]}}</span>
				<input type="text" ng-model="bdcqzhMbData[2].inputs[1]" style="height: 25px;width: 22%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[2].keyWords[1]}}</span>
				<input type="text" ng-model="bdcqzhMbData[2].inputs[2]" style="height: 25px;width: 22%;padding-left:1px;padding-right:1px;border: 1px solid #ddd;text-align: center;">
				<span style="color: #444;font-size: 14px;text-align: center;">{{bdcqzhMbData[2].keyWords[2]}}</span>
				<i class="icon ion-ios-information" style="font-size: 22px;margin-left: 6px;" ng-click="clickTips(2);"></i>
			</div>
			<div ng-show="bdcqzhMbData[3].isSelected" class="item item-icon-right" style="height: 42px; border: none; border-bottom: solid 1px lightgray;border-top: solid #ddd 1px;">
				<input style="width: 90%;margin-top: -14px;padding-left: 12px;" type="text" ng-model="bdcqzhMbData[3].inputs[0]" placeholder="请输入产权证号">
			</div>

			<div class="item-container">
				<span style="color: red;">*&nbsp;</span>
				<span style="font-size: 14px;width: 35%;">权利人名称</span>
				<input style="width: 65%;" ng-model="cret.qlrmc" type="text" placeholder="请输入权利人名称" />
			</div>
			<div class="item-container">
				<span style="color: red;">*&nbsp;</span>
				<span style="font-size: 14px;width: 35%;">权利人证件号</span>
				<input style="width: 65%;" ng-model="cret.qlrzjh" type="text" placeholder="请输入证件号码" />
			</div>
			<div class="item-container" style="position: relative;">
				<span style="color: red;">*&nbsp;</span>
				<span style="font-size: 14px;width: 35%;">短信验证</span>
				<input placeholder="请输入验证码" ng-model="cret.yzCode" type="number" style="vertical-align:middle;border: none;font-size: 14px;width: 25%;" />
				<div ng-click="getTelCode()" style="height: 26px;border: solid 1px #108EE9;border-radius: 3px;display: flex;align-items: center;justify-content: center;position: absolute;right: 16px;">
					<p style="font-size: 14px;color: #108EE9;padding-left: 5px;padding-right: 5px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;">{{code}}</p>
				</div>
			</div>
		</div>
		<button class="button button-positive button-full" ng-click="sqzsyz()" style="margin-bottom: 20px;">申请验证</button>
		<div id="modal-overlay" ng-show='showTips' ng-click="clickTips(3);">
			<div class="modal-data">
				<img src="{{src}}" />
			</div>
		</div>
	</ion-content>
</ion-view>