<ion-view view-title="投诉建议" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon" ng-click="add()">
				<i class="icon ion-ios-plus-empty nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header container">
		<ion-list>
			<ion-item class="item-remove-animate a" ng-repeat="item in GuestNoteList" ng-click="detail(item)" style="margin: 10px;border-radius: 5px;background-color: white;padding: 5px;">
				<a style="width: 100%;">
					<div style="margin-left: 15px;margin-right: 0;padding: 5px 15px 5px 0;border-bottom: dashed lightgray 1px;min-height: 40px;display: flex;align-items: center;">
						<p style="color: #333333;width: 30%;">留言时间</p>
						<p style="width: 70%;color: #E79F0D;" align="right">{{item.ctime}}</p>
					</div>
					<div style="margin-left: 15px;margin-right: 0;padding: 5px 15px 5px 0;border-bottom: dashed lightgray 1px;min-height: 40px;display: flex;align-items: center;">
						<p style="color: #333333;width: 30%;">留言人员</p>
						<p style="width: 70%;color: #333333;" align="right">{{item.lyry}}</p>
					</div>
					<div style="margin-left: 15px;margin-right: 0;padding: 5px 15px 5px 0;min-height: 40px;display: flex;align-items: center;">
						<p style="color: #333333;width: 30%;">留言状态</p>
						<p style="width: 70%;color: #333333;" align="right">{{item.status}}</p>
					</div>
				</a>
			</ion-item>
		</ion-list>

		<div ng-show='isShow' style="text-align: center;margin-top: 100px;">
			<img style="width: 193px;height: 170px;" src="../theme/img_me/default.png" />
			<p style="margin-top: 20px; font-size: 16px;color: rgb(178,178,178);">暂无数据，请点击右上角添加！</p>
		</div>
	</ion-content>
</ion-view>