<ion-view view-title="我的不动产" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon" ng-click="add()">
				<i class="icon ion-ios-plus-empty nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content style="background-color: #F5F5F5;">
		<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
			<ion-item class="item item-thumbnail-left" ng-repeat="item in data" ng-click="gotodetail($index)">
				<img src="../theme/img_me/bdc.png">
				<h2 style="font-weight: 500;">{{item.xqmc}}</h2>
				<p style="height: 30px;line-height: 30px;">2室两厅&nbsp;&nbsp{{item.area}}㎡</p>
				<p><span style="color: rgb(255,202,59) !important;">{{item.price}}万</span>（估算价格，仅供参考）</p>
				<ion-option-button class="button-assertive" ng-click="delete($index)">
					删除
				</ion-option-button>	 
			</ion-item>
		</ion-list>
		<div ng-show='isShow' style="text-align: center;margin-top: 100px;">
			<img style="width: 193px;height: 170px;" src="../theme/img_me/default.png" />
			<p style="margin-top: 20px; font-size: 16px;color: rgb(178,178,178);">暂时没有不动产数据，请点击右上角添加</p>
		</div>
	</ion-content>
</ion-view>