<ion-view view-title="小区名称" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="list">
			<a class="item community-item" style="padding-left: 20px;padding-right: 20px;" ng-repeat="item in data" ng-click="choose($index)">
				<p style="font-size: 16px;font-weight: 300;">{{item}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>