<ion-view view-title="预审信息" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="container">
		<div class="applicant">
			<div style="width: 100%;min-height: 40px;padding-top: 5px;padding-bottom: 5px;display: flex;align-items: center;">
				<p style="width: 30%;color: #999999;font-size: 14px;padding-left: 10px;">预审意见</p>
				<p style="width: 70%;color: #333333;font-size: 14px;padding-left: 20px;">{{qlxx.ysyj}}</p>
			</div>
			<div style="width: 100%;min-height: 40px;padding-top: 5px;padding-bottom: 5px;display: flex;align-items: center;">
				<p style="width: 30%;color: #999999;font-size: 14px;padding-left: 10px;">操作结果</p>
				<p style="width: 70%;color: #333333;font-size: 14px;padding-left: 20px;">{{qlxx.ysjg}}</p>
			</div>
			<div style="width: 100%;min-height: 40px;padding-top: 5px;padding-bottom: 5px;display: flex;align-items: center;">
				<p style="width: 30%;color: #999999;font-size: 14px;padding-left: 10px;">审核人</p>
				<p style="width: 70%;color: #333333;font-size: 14px;padding-left: 20px;">{{qlxx.ysry}}</p>
			</div>
			<div style="width: 100%;min-height: 40px;padding-top: 5px;padding-bottom: 5px;display: flex;align-items: center;">
				<p style="width: 30%;color: #999999;font-size: 14px;padding-left: 10px;">日期</p>
				<p style="width: 70%;color: #333333;font-size: 14px;padding-left: 20px;">{{qlxx.yssj}}</p>
			</div>
			<div style="margin-bottom: 10px;"><span class="yylist-item-label">&nbsp;&nbsp;进度状态</span></div>
			<div class="ysxx" style="color: #000;" ng-repeat="ysjd in ysjdArray">
				<img ng-src="{{ysjd.showsrcFinish}}" class="img1" style="width: 24px;height: 24px;margin: 0 10px 4px 10px;" />
				<img ng-src="{{ysjd.showsrcFucus}}" class="img2" style="width: 32px;height: 32px;" />
				<div style="margin-left: 86px;margin-top: -32px;">{{ysjd.label}}</div>
				<img ng-show='ysjd.isShowsrcFinishToNext' ng-src="{{ysjd.showsrcFinishToNext}}" style="margin-left: 19px;margin-bottom:-10px;height: 40px;" />
			</div>
		</div>
	</ion-content>
</ion-view>