<ion-view view-title="真房源" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="container">
		<div class="list card" style="margin-top: 10px;">
			<div class="item item-avatar">
				<img src="../theme/img/jcw.jpg">
				<h2>西站 仁恒美林郡对面 兰石润安</h2>
				<p>60.35㎡ 3室2厅</p>
			</div>
			<div class="item item-image">
				<ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 show-pager="true">
					<ion-slide>
						<div class="box">
							<img src="../theme/img/qb1.jpg">
						</div>
					</ion-slide>
					<ion-slide>
						<div class="box">
							<img src="../theme/img/qb2.jpg">
						</div>
					</ion-slide>
					<ion-slide>
						<div class="box">
							<img src="../theme/img/qb3.jpg">
						</div>
					</ion-slide>
					<ion-slide>
						<div class="box">
							<img src="../theme/img/qb4.jpg">
						</div>
					</ion-slide>
				</ion-slide-box>

			</div>
			<a class="item item-icon-left assertive" >
				<i class="icon ion-ios-telephone"></i> 金先生 ：13888888888
			</a>
		</div>
		
		<div class="list card" style="margin-top: 10px;">
			<div class="item item-avatar">
				<img src="../theme/img/lcw.png">
				<h2>七里河马滩文化岛恒大帝景 性价比高 视野</h2>
				<p>160㎡ 3室2厅</p>
			</div>
			<div class="item item-image">
				<ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 show-pager="true">
					<ion-slide>
						<div class="box">
							<img src="../theme/img/yx1.jpg">
						</div>                  
					</ion-slide>                
					<ion-slide>                 
						<div class="box">       
							<img src="../theme/img/yx2.jpg">
						</div>                  
					</ion-slide>                
					<ion-slide>                 
						<div class="box">       
							<img src="../theme/img/yx3.jpg">
						</div>                  
					</ion-slide>                
					<ion-slide>                 
						<div class="box">       
							<img src="../theme/img/yx4.jpg">
						</div>
					</ion-slide>
				</ion-slide-box>

			</div>
			<a class="item item-icon-left assertive" >
				<i class="icon ion-ios-telephone"></i> 梁先生 ：13999999999
			</a>
		</div>
	</ion-content>
</ion-view>