<ion-view view-title="{{viewTitle}}" class="nav-title">
	<ion-nav-bar>
		<ion-nav-buttons side="left" >
			<button class="button button-icon" ng-click="goback()">
				<i class="ion-ios-arrow-left nav-title" style="font-size: 30px;"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	
	<ion-content class="container" style="color: black;">
		<div class="applicant" style="padding-top: 15px;">
	        <div class="message">
	            <div class="col-xs-12">
	                <p style="text-indent: 2rem;">为方便公众获取《不动产权属证明》，现开通网上在线查询功能。申请人在申请查询前须仔细阅读本须知。</p>
	                <p>1、不动产产权在甘肃的，均可网上申请查询办理。</p>
	                <p>2、网上申请采用实名制，申请人必须为不动产权利人本人及其未成年子女。</p>
	                <p>3、本查询记录的信息为房屋登记信息或房地登记信息。</p>
	                <p>4、网上申请必须填写《不动产权属证明查询申请》。</p>
	                <p>5、网上申请不收取任何手续费。</p>
	                <p>6、网上申请查询后，可以在线下载查询结果记录并可以加盖电子查询签章。</p>
	            </div>
	        </div>
		    <div class="cl"></div>
		    <div class="djsqxz-btn">
			<ion-checkbox style="border: hidden;" ng-model = 'sqxz.aggreChecked'>我已阅读以上内容</ion-checkbox>
			<button style="width: 90%;margin: 0 auto;" class="button button-full button-positive" ng-click="sure()">确定</button>
			</div>
	    </div>
	</ion-content>
</ion-view>